{
  "bracketSameLine": true,
  "bracketSpacing": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
