---
import {l, t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Hero from "@src/components/Hero.astro";
import Headline from "@src/components/Headline.astro";
import Countdown from "@src/components/Countdown";
import Container from "../../components/Container.astro";
---

<BaseLayout>
  <Hero />

  <Container>
    <div class="flex flex-col items-center text-center">
      <Headline top={t("place.dateHeadline.top")}>{t("place.dateHeadline.main")}</Headline>
      <a class="btn" href={l("/place")}>{t("place.moreInfo")}</a>
    </div>
  </Container>

  <style>
    .parallax-hallstatt {
      background: url(/assets/20200713_223451.jpg) no-repeat fixed center center;
      background-size: cover;
    }
  </style>
  <div class="parallax-hallstatt flex h-240 w-full items-center justify-center">
    <div class="mx-4 bg-white/50 p-8 text-center backdrop-blur-xl">
      <Countdown client:idle />
    </div>
  </div>

  <Container>
    <div class="flex flex-col items-center text-center">
      <Headline top={t("place.locationHeadline.top")}>{t("place.locationHeadline.main")}</Headline>

      <a class="btn btn-ghost" href={l("/place")}>{t("place.moreInfo")}</a>
    </div>
  </Container>

  <style>
    .parallax-hotel-eurobus {
      background: url(/assets/hotel-eurobus/hoteleurobus1.jpg) no-repeat fixed center center;
      background-size: cover;
    }
  </style>

  <div class="parallax-hotel-eurobus flex h-160 w-full flex-col items-center justify-center">
    <div class="mx-4 bg-white/50 p-8 text-center backdrop-blur-xl">
      <p class="text-3xl">{t("place.celebrate")}</p>
    </div>
  </div>

  <Container>
    <div class="flex flex-col items-center text-center">
      <Headline top={t("participation.headline.top")}>{t("participation.headline.main")}</Headline>
      <a class="btn btn-primary" href={l("/participation")}>{t("participation.confirm")}</a>
    </div>
  </Container>
</BaseLayout>
