---
import {l, t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Hero from "@src/components/Hero.astro";
import Headline from "@src/components/Headline.astro";
import CountdownHeadline from "@src/components/CountdownHeadline.astro";
import Center from "@src/components/Center.astro";
import Paragraph from "@src/components/Paragraph.astro";
import Container from "@src/components/Container.astro";
import ParticipationHeadline from "@src/components/ParticipationHeadline.astro";
import FlowerDivider from "@src/components/FlowerDivider.astro";

import pngHotelEurobus from "@src/assets/drawing-hotel-eurobus.png?url";
---

<BaseLayout>
  <Hero />

  <Container>
    <Headline top={t("place.when") + "?"}>{t("place.date")}</Headline>

    <Center>
      <a class="btn" href={l("/place")}>{t("place.moreInfo")}</a>
    </Center>

    <FlowerDivider type="1" />
  </Container>

  <style>
    .parallax-hallstatt {
      background: url(/assets/20200901_171948_photoshoped_cropped.jpg) no-repeat fixed center center;
      background-size: cover;
    }
  </style>
  <div class="parallax-hallstatt flex h-160 w-full flex-col items-center justify-center">
    <div class="card mx-2 bg-white/80 p-8 backdrop-blur">
      <CountdownHeadline withHeadline />
    </div>
  </div>

  <Container>
    <Headline top={t("place.where") + "?"}>
      {t("place.region")}
      <br />
      <svg
        class="inline-block h-8 w-8 text-primary"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"></path></svg
      >
      <br />
      {t("place.slovakia")}
    </Headline>

    <Center>
      <img class="w-full max-w-240" src={pngHotelEurobus} alt="hotel eurobus" />
    </Center>

    <Center>
      <Paragraph>
        {t("place.description_short")}
      </Paragraph>
    </Center>

    <Center>
      <a class="btn" href={l("/place")}>{t("place.moreInfo")}</a>
    </Center>
  </Container>

  <FlowerDivider type="2" />

  <Container>
    <ParticipationHeadline />
  </Container>

  <style>
    .parallax-hotel-eurobus {
      background: url(/assets/20200902_175756.jpg) no-repeat fixed center center;
      background-size: cover;
    }
  </style>
  <div class="parallax-hotel-eurobus h-160 w-full"></div>
</BaseLayout>
