---
import {l, t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Hero from "@src/components/Hero.astro";
import Headline from "@src/components/Headline.astro";
import CountdownHeadline from "@src/components/CountdownHeadline.astro";
import Center from "@src/components/Center.astro";
import Paragraph from "@src/components/Paragraph.astro";
import Container from "@src/components/Container.astro";
import FlowerDivider from "@src/components/FlowerDivider.astro";
---

<BaseLayout>
  <Hero />

  <style>
    .parallax-wedding-ceremony-hura {
      background: url(/assets/parallax-wedding-ceremony-hura-square-800-800.jpg) no-repeat fixed center center;
      background-size: cover;

      @media only screen and (min-width: 768px) {
        background: url(/assets/parallax-wedding-ceremony-hura.jpg) no-repeat fixed center center;
        background-size: cover;
      }
    }
  </style>
  <div class="parallax-wedding-ceremony-hura flex h-96 w-full flex-col items-center justify-center lg:h-140">
    <div class="card mx-2 bg-white/30 p-2 shadow-xl backdrop-blur lg:p-4">
      <CountdownHeadline />
      <a class="btn btn-ghost" href={l("/place")}>{t("place.moreInfo")}</a>
    </div>
  </div>

  <Container>
    <Headline top={t("thanks.headlineTop")}>{t("thanks.headline")}</Headline>
    <Paragraph>{t("thanks.paragraph1")}</Paragraph>
    <Paragraph>{t("thanks.paragraph2")}</Paragraph>
    <FlowerDivider type="1" />
  </Container>

  <style>
    .parallax-wedding-ceremony-end {
      background: url(/assets/parallax-wedding-ceremony-end-square-800-800.jpg) no-repeat fixed center center;
      background-size: cover;

      @media only screen and (min-width: 768px) {
        background: url(/assets/parallax-wedding-ceremony-end.jpg) no-repeat fixed center center;
        background-size: cover;
      }
    }
  </style>
  <div class="parallax-wedding-ceremony-end h-96 w-full lg:h-140"></div>

  <Container>
    <Headline top={t("photos.headlineTop")}>{t("photos.headline")}</Headline>

    <Paragraph>{t("photos.paragraph1")}</Paragraph>

    <Center>
      <a class="btn-soft btn btn-primary" href={l("/photos")}>{t("photos.navButton")}</a>
    </Center>

    <FlowerDivider type="3" />
  </Container>

  <style>
    .parallax-wedding-terrace-kiss {
      background: url(/assets/parallax-wedding-terrace-kiss-square-800-800.jpg) no-repeat fixed center center;
      background-size: cover;

      @media only screen and (min-width: 768px) {
        background: url(/assets/parallax-wedding-terrace-kiss.jpg) no-repeat fixed center center;
        background-size: cover;
      }
    }
  </style>
  <div class="parallax-wedding-terrace-kiss h-96 w-full lg:h-140"></div>
</BaseLayout>
