---
import {t} from "astro-i18n";

import Headline from "@src/components/Headline.astro";
import ParticipationForm from "@src/components/ParticipationForm";
import BaseLayout from "@src/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="card mx-auto max-w-5xl shadow-xl">
    <div class="card-body items-center text-center">
      <Headline top={t("participation.headline.top")}>{t("participation.headline.main")}</Headline>

      <ParticipationForm client:load />
    </div>
  </div>
</BaseLayout>
