---
import {t} from "astro-i18n";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import ComingSoon from "@src/components/ComingSoon.astro";
import ChatBubble from "@src/components/ChatBubble.astro";
import FlowerDivider from "@src/components/FlowerDivider.astro";

import srcPeter from "@src/assets/20221021_134911_cut_avatar.jpg?url";
import srcIvana from "@src/assets/20221021_135754_cut_avatar.jpg?url";
---

<BaseLayout>
  <Container>
    <Headline top={t("nav.phrases")}>
      <div class="flex w-full flex-col items-center gap-1 lg:flex-row">
        <span class="flex-1 text-end">{t("phrases.slovak")}</span>
        <svg
          class="inline-block h-10 w-10 text-primary lg:h-16 lg:w-16"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"></path>
          <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"></path></svg
        >
        <span class="flex-1 text-start">{t("phrases.serbian")}</span>
      </div>
    </Headline>

    <div class="mx-auto w-full max-w-96">
      <div class="chat chat-start">
        <div class="avatar chat-image">
          <div class="mask mask-squircle w-20 lg:w-32">
            <img alt="Peter" src={srcPeter} />
          </div>
        </div>
        <div class="chat-bubble bg-accent text-white">Zdravím</div>
      </div>

      <div class="chat chat-end">
        <div class="avatar chat-image">
          <div class="mask mask-squircle w-20 lg:w-32">
            <img alt="Ivana" src={srcIvana} />
          </div>
        </div>
        <div class="chat-bubble bg-secondary text-secondary-content">Zdravo</div>
      </div>
    </div>

    <FlowerDivider type="1" class="py-10 lg:py-20" />

    <div class="mx-auto w-full max-w-240">
      <ChatBubble who="Peter" direction="start" chatKey="phrases.chat1_1" />

      <ChatBubble who="Ivana" direction="end" chatKey="phrases.chat1_2" />
    </div>
  </Container>

  <ComingSoon />
</BaseLayout>
