---
import {l, t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import FlowerDivider from "@src/components/FlowerDivider.astro";
import Center from "../../components/Center.astro";
---

<BaseLayout>
  <Container>
    <Headline top={t("nav.program")}>{t("program.headline")}</Headline>
  </Container>

  <Container>
    <ul class="timeline timeline-vertical timeline-snap-icon max-md:timeline-compact">
      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time>13:00</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.welcome")}</div>
        </div>
        <hr />
      </li>

      <li>
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary md:h-8 md:w-8"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time class="text-2xl">14:00</time>
          <div class="mt-2 font-serif text-3xl lg:text-4xl">{t("program.ceremony")}</div>
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time>15:00</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.reception")}</div>
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time>17:00</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.breakingPlate")}</div>
          <a class="link text-xs text-base-content/50" href={l("/traditions")}
            >{t("nav.traditions")}<svg
              class="mx-1 inline-block h-3 w-3"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
              <line x1="10" y1="14" x2="20" y2="4"></line>
              <polyline points="15 4 20 4 20 9"></polyline></svg
            ></a
          >
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time>17:30</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.firstDance")}</div>
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time>18:00</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.dinner")}</div>
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-end mb-10">
          <time>23:30</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.cepcenie")}</div>
          <a class="link text-xs text-base-content/50" href={l("/traditions")}
            >{t("nav.traditions")}<svg
              class="mx-1 inline-block h-3 w-3"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z"></path>
              <path d="M11 7h-5a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-5"></path>
              <line x1="10" y1="14" x2="20" y2="4"></line>
              <polyline points="15 4 20 4 20 9"></polyline></svg
            ></a
          >
        </div>
        <hr />
      </li>

      <li>
        <hr />
        <div class="timeline-middle">
          <svg
            class="h-4 w-4 text-primary"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
            ></path></svg
          >
        </div>
        <div class="timeline-start mb-10 md:text-end">
          <time>03:00</time>
          <div class="mt-2 font-serif text-2xl lg:text-3xl">{t("program.lastCall")}</div>
        </div>
        <hr />
      </li>
    </ul>

    <Center class="mt-20">
      <p class="text-xs text-base-content/50">{t("program.change")}</p>
    </Center>
  </Container>

  <FlowerDivider type="2" />
</BaseLayout>
