---
import {t} from "astro-i18n";

import BaseLayout from "@src/layouts/BaseLayout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import ComingSoon from "@src/components/ComingSoon.astro";
import ParticipationHeadline from "@src/components/ParticipationHeadline.astro";
---

<BaseLayout>
  <Container>
    <div class="flex flex-col items-center text-center">
      <Headline top={t("nav.program")}>{t("program.headline")}</Headline>
    </div>
  </Container>

  <ComingSoon />

  <Container>
    <ParticipationHeadline />
  </Container>
</BaseLayout>
