---
import {t} from "astro-i18n";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import Container from "@src/components/Container.astro";
import Headline from "@src/components/Headline.astro";
import Countdown from "@src/components/Countdown";

import assetPeter from "@src/assets/20200829_115859.jpg?url";
import assetIvana from "@src/assets/20210202_215046.jpg?url";

// SVARGA: implement countdown and to show text !
---

<BaseLayout>
  <Container>
    <div class="flex flex-col items-center text-center">
      <Headline top={t("vows.our")}>{t("nav.vows")}</Headline>
    </div>

    <div class="grid place-items-center gap-4 lg:grid-cols-2 lg:gap-20">
      <div>
        <div class="card card-compact bg-white shadow md:shadow-xl">
          <figure><img class="saturate-50" src={assetIvana} alt="Ivana" /></figure>
          <div class="card-body">
            <h2
              class="pb-6 pt-2 text-center text-4xl font-bold lg:pb-12 lg:pt-4 lg:text-5xl lg:tracking-tight xl:text-6xl">
              Ivana
            </h2>

            <div class="mb-2 justify-center lg:mb-4">
              <Countdown client:idle />
            </div>

            <p class="text-center text-2xl leading-loose blur">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
              aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
              voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate
              velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
              iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
              facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
              dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
              at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.
            </p>
          </div>
        </div>
      </div>

      <div>
        <div class="card card-compact bg-white shadow-xl">
          <figure><img class="saturate-50" src={assetPeter} alt="Peter" /></figure>
          <div class="card-body">
            <h2
              class="pb-6 pt-2 text-center text-4xl font-bold lg:pb-12 lg:pt-4 lg:text-5xl lg:tracking-tight xl:text-6xl">
              Peter
            </h2>

            <div class="mb-2 justify-center lg:mb-4">
              <Countdown client:idle />
            </div>

            <p class="text-center text-2xl leading-loose blur">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
              aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
              gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
              voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate
              velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
              iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla
              facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
              dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
              at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.
            </p>
          </div>
        </div>
      </div>
    </div>
  </Container>
</BaseLayout>
