---
import Counter from "@src/components/Counter";
import BaseLayout from "@src/layouts/BaseLayout.astro";
import {getLangFromUrl, useTranslations} from "@src/i18n/uiTranslations";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const someProps = {
  count: 0,
};
---

<BaseLayout>
  <main>
    <Counter {...someProps} client:visible>
      <h1>Hello, React!</h1>
    </Counter>
  </main>
</BaseLayout>
