---
import {t} from "astro-i18n";

import Center from "@src/components/Center.astro";
---

<my-countdown-headline>
  <Center class="pb-1 lg:pb-2">
    <h3 class="text-center font-serif text-2xl lg:text-3xl">{t("countdown.before")}</h3>
  </Center>

  <Center>
    <div class="flex flex-col text-center">
      <span class="font-serif text-6xl lg:text-7xl">
        <span data-id="myCountdownDayValue">00</span>
        {t("countdown.days")}
      </span>
    </div>
  </Center>

  <Center class="pt-1 lg:pt-2">
    <h3 class="text-center font-serif text-2xl lg:text-3xl">{t("countdown.after")}</h3>
  </Center>
</my-countdown-headline>

<script>
  const COUNT_DOWN_DATE = new Date("2024-09-21T12:00:00.000Z").getTime();

  class MyCountdownHeadline extends HTMLElement {
    constructor() {
      super();

      this.setTimeValues();
    }

    private setTimeValues = () => {
      // Find the distance between now and the countdown date
      const distance = COUNT_DOWN_DATE - new Date().getTime();

      const daysDiff = distance / (1000 * 60 * 60 * 24);

      // Time calculations for days, hours, minutes and seconds
      // floor down if positive (time to wedding), ceil up if negative (time from wedding)
      const days = Math.abs(daysDiff >= 0 ? Math.floor(daysDiff) : Math.ceil(daysDiff));

      const el = this.querySelector<HTMLSpanElement>('[data-id="myCountdownDayValue"]');
      if (el != null) {
        el.innerHTML = days.toString();
      }
    };
  }

  // Tell the browser to use our AstroHeart class for <astro-heart> elements.
  customElements.define("my-countdown-headline", MyCountdownHeadline);
</script>
