---
import {l, t} from "astro-i18n";

import asset_20230629_140249_cut from "@src/assets/20230629_140249_cut.png?url";

interface Props {
  pages: Array<"faq" | "vows" | "phrases">;
}

const {pages = [] as Props["pages"]} = Astro.props;
---

<div class="card card-compact mx-auto max-w-240 overflow-hidden bg-white shadow-xl">
  <div class="grid items-end gap-4 md:grid-cols-3">
    <div class="py-4 md:col-span-2">
      <div class="chat chat-end">
        <div class="chat-bubble chat-bubble-primary">{t("exploreMessage")}</div>
      </div>
      {
        pages.map((p) => {
          switch (p) {
            case "faq":
              return (
                <div class="chat chat-end">
                  <div class="chat-bubble chat-bubble-primary">
                    <a class="link" href={l("/faq")}>
                      {t("nav.faq") + " / " + t("faq.headline")}
                    </a>
                  </div>
                </div>
              );

            case "vows":
              return (
                <div class="chat chat-end">
                  <div class="chat-bubble chat-bubble-primary">
                    <a class="link" href={l("/vows")}>
                      {t("nav.vows")}
                    </a>
                  </div>
                </div>
              );

            case "phrases":
              return (
                <div class="chat chat-end">
                  <div class="chat-bubble chat-bubble-primary">
                    <a class="link" href={l("/phrases")}>
                      {t("nav.phrases")}
                    </a>
                  </div>
                </div>
              );

            default:
              return null;
          }
        })
      }
    </div>
    <div>
      <img class="max-w-70 w-full bg-center" src={asset_20230629_140249_cut} alt="asset_20230629_140249_cut" />
    </div>
  </div>
</div>
