---
import {l, t} from "astro-i18n";
---

<footer class="footer gap-4">
  <aside>
    <a class="link-hover link footer-title" href={l("/")}><h6>{t("title")}</h6></a>
    <a href="mailto:ivanapeter2024@gmail.com" class="link-hover link">ivanapeter2024@gmail.com</a>
    <p class="text-primary-content/40">Copyright © 2024</p>
    <p class="text-primary-content/40">All rights reserved</p>
  </aside>

  <nav>
    <a class="link flex items-center gap-1" href={l("/")}
      >{t("nav.home")}
      <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
        ></path>
      </svg></a
    >
    <a class="link" href={l("/participation")}>{t("nav.participation")}</a>
    <a class="link" href={l("/place")}>{t("nav.place")}</a>
    <a class="link" href={l("/program")}>{t("nav.program")}</a>
  </nav>

  <nav>
    <h6 class="footer-title">{t("nav.more")}</h6>
    <a class="link" href={l("/vows")}>{t("nav.vows")}</a>
    <a class="link flex gap-1" href={l("/phrases")}
      >{t("phrases.slovak")}
      <svg
        class="inline-block h-4 w-4 text-red-600"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"></path>
        <path d="M12 20l-7 -7a4 4 0 0 1 6.5 -6a.9 .9 0 0 0 1 0a4 4 0 0 1 6.5 6l-7 7"></path></svg
      >
      {t("phrases.serbian")}</a
    >
  </nav>
</footer>
