---
interface Props {
  top?: string;
}

const {top} = Astro.props;
---

{
  top != null && (
    <h3 class="text-center text-xl font-bold lg:text-start lg:text-2xl lg:tracking-tight xl:text-3xl">{top}</h3>
  )
}
<h2
  class="pb-6 pt-2 text-center text-4xl font-bold lg:pb-12 lg:pt-4 lg:text-start lg:text-5xl lg:tracking-tight xl:text-6xl">
  <slot />
</h2>
