---
import {t} from "astro-i18n";

import pngDrawingHugging from "@src/assets/drawing-hugging.png?url";
---

<div class="mx-auto min-h-svh w-full max-w-240 px-2 pb-4 lg:px-4 lg:pb-8">
  <div class="grid place-items-center items-center gap-4 lg:grid-cols-3">
    <div class="lg:col-span-2">
      <div class="text-center lg:text-start">
        <h1 class="pb-6 font-serif text-7xl lg:pb-12 lg:text-8xl">Ivana & Peter</h1>
        <p class="max-w-xl text-lg">
          {t("hero.headline1")}
        </p>
        <p class="max-w-xl py-4 text-lg">
          {t("hero.headline2")}
        </p>
      </div>
    </div>
    <div>
      <img class="h-auto max-h-160 w-auto" src={pngDrawingHugging} alt="drawing hugging" />
    </div>
  </div>
</div>
