---
import {getLangFromUrl, useTranslations} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hero min-h-screen" style="background-image: url(/assets/photo-vienna-bachata-bash.jpg);">
  <div class="hero-overlay bg-opacity-50 backdrop-blur-0"></div>
  <div class="hero-content text-center text-neutral-100">
    <div class="max-w-5xl">
      <h1 class="mb-5 text-8xl drop-shadow-2xl">Ivana & Peter</h1>
      <p class="mb-5 text-4xl drop-shadow-2xl">{t('Hero.subheader')}</p>
    </div>
  </div>
</div>
