---
import {getLangFromUrl, useTranslations} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="hero min-h-screen"
  style="background-image: url(https://www.datocms-assets.com/30484/1610602944-screen-shot-2021-01-14-at-3-42-01-pm.png?auto=format&dpr=1&q=70&w=1376);">
  <div class="hero-overlay bg-opacity-50 backdrop-blur-sm"></div>
  <div class="hero-content text-center text-neutral-100">
    <div class="max-w-5xl">
      <h1 class="mb-5 text-8xl">Ivana & Peter</h1>
      <p class="mb-5 text-2xl">{t('Hero.subheader')}</p>
    </div>
  </div>
</div>
