---
import {t} from "astro-i18n";
import pngDrawingHugging from "@src/assets/drawing-hugging.png?url";

import Container from "./Container.astro";
---

<Container>
  <main class="grid place-items-center lg:grid-cols-2">
    <div class="sm:order-1 md:block">
      <img class="h-auto max-h-screen w-auto" src={pngDrawingHugging} alt="Astronaut in the air" />
    </div>
    <div>
      <h1 class="text-5xl font-bold lg:text-6xl lg:tracking-tight xl:text-7xl">Ivana a Peter</h1>
      <p class="mt-4 max-w-xl text-lg text-slate-600">
        Big news – we're getting married! Discover all the details about our unique love story and the upcoming
        celebration. Stay tuned for the magic!
      </p>
    </div>
  </main>
</Container>
