---
import {getLangFromUrl, useTranslations} from '@src/i18n/uiTranslations';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="hero min-h-screen" style="background-image: url(/assets/received_1343715702486032.jpeg);">
  <div class="h-full w-full bg-white bg-opacity-25"></div>
  <div class="hero-content text-center text-neutral-100">
    <div class="max-w-5xl">
      <h1 class="mb-5 text-8xl drop-shadow-lg">Ivana & Peter</h1>
      <p class="mb-5 text-4xl drop-shadow-lg">{t('Hero.subheader')}</p>
    </div>
  </div>
</div>
