---
import {useTranslations, getLangFromUrl} from '@src/i18n/uiTranslations';

import LanguagePicker from './language-picker/LanguagePicker.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="navbar sticky top-0 z-[1] bg-base-100">
  <div class="navbar-start">
    <!--Mobile Dropdown-->
    <div class="dropdown lg:hidden">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </label>

      <ul tabindex="0" class="menu dropdown-content rounded-box z-[1] mt-3 w-52 bg-white p-2 shadow">
        <li><a href={`/${lang}/place`}>{t('Navigation.place')}</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-xl normal-case">daisyUI</a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <a class="btn btn-ghost btn-sm" href={`/${lang}/place`}>{t('Navigation.place')}</a>

    <div class="dropdown dropdown-bottom">
      <label tabindex="0" class="btn btn-ghost btn-sm">Dropdown</label>
      <ul tabindex="0" class="menu dropdown-content rounded-box z-[1] w-52 bg-white p-2 shadow">
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
        <li><a>Item 2</a></li>
      </ul>
    </div>
  </div>

  <div class="navbar-end">
    <LanguagePicker />
  </div>
</div>
