---
interface Props {
  class?: unknown;
  "data-id"?: string;
}

const {class: className, "data-id": dataId} = Astro.props;
---

<p
  class="mx-auto w-full max-w-240 pb-4 pt-2 text-center leading-loose lg:pb-8 lg:pt-4 lg:text-lg"
  class:list={[className]}
  data-id={dataId}>
  <slot />
</p>
