---
import {l, t} from "astro-i18n";

import Headline from "@src/components/Headline.astro";
---

<div class="flex flex-col items-center text-center">
  <Headline top={t("participation.headline.top")}>{t("participation.headline.main")}</Headline>
  <a class="btn btn-primary" href={l("/participation")}>
    <svg
      class="h-5 w-5"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z"></path>
      <line x1="10" y1="14" x2="21" y2="3"></line>
      <path d="M21 3L14.5 21a.55 .55 0 0 1 -1 0L10 14L3 10.5a.55 .55 0 0 1 0 -1L21 3"></path></svg
    >
    {t("participation.confirm")}</a
  >
</div>
