---
import {t, astroI18n} from "astro-i18n";

import Navigation from "@src/components/Navigation.astro";

import "@src/global.css";

const {title} = Astro.props.frontmatter || Astro.props;

const htmlTitle = title ?? t("title");
---

<html lang={astroI18n.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{htmlTitle}</title>
  </head>

  <body>
    <Navigation />

    <main class="mb-20 px-4 md:px-12">
      <slot />
    </main>
  </body>
</html>
