---
import {t, astroI18n, l} from "astro-i18n";

import Navigation from "@src/components/Navigation.astro";

import "@src/global.css";

const {title} = Astro.props.frontmatter || Astro.props;

const htmlTitle = title ?? t("title");
---

<html lang={astroI18n.locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{htmlTitle}</title>
  </head>

  <body>
    <Navigation />

    <main class="p-2 lg:p-12">
      <slot />
    </main>

    <section class="container mx-auto">
      <footer class="footer px-6 py-6">
        <aside class="lg:justify-self-center">
          <header class="footer-title">{t("title")}</header>

          <a class="link" href={l("/place")}>{t("nav.place")}</a>
          <a class="link" href={l("/participation")}>{t("nav.participation")}</a>
        </aside>

        <nav class="lg:justify-self-center">
          <header class="footer-title">{t("nav.more")}</header>
          <a class="link">About us</a>
          <a class="link">Contact</a>
        </nav>
      </footer>
    </section>
  </body>
</html>
