---
import {t, astroI18n} from "astro-i18n";
import {ViewTransitions} from "astro:transitions";

import "@src/global.css";
import Navigation from "@src/components/Navigation.astro";
import GlobalStyles from "@src/components/GlobalStyles.astro";
import Container from "@src/components/Container.astro";
import Footer from "@src/components/Footer.astro";
import ScrollTopButton from "@src/components/ScrollTopButton.astro";
import OpenGraphMetadata from "@src/components/OpenGraphMetadata.astro";

const {title} = Astro.props.frontmatter || Astro.props;

const htmlTitle = title ?? t("title");
---

<html lang={astroI18n.locale} data-theme="cupcake">
  <head>
    <OpenGraphMetadata />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="theme-color" content="#ffffff" />

    <title>{htmlTitle}</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <ViewTransitions />

    <GlobalStyles />
  </head>

  <body class="my-watercolor-paper-texture">
    <Navigation />

    <main>
      <slot />
    </main>

    <Container>
      <Footer />
    </Container>

    <ScrollTopButton />
  </body>
</html>
