---
import Countdown, {CountdownProps} from '@src/components/Countdown';
import Hero from '@src/components/Hero.astro';
import {useTranslations, getLangFromUrl} from '@src/i18n/uiTranslations';
import BaseLayout from '@src/layouts/BaseLayout.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const countdownProps: CountdownProps = {
  daysLabel: t('Countdown.days'),
  hoursLabel: t('Countdown.hours'),
  minutesLabel: t('Countdown.minutes'),
  secondsLabel: t('Countdown.seconds'),
};

const {title} = Astro.props.frontmatter || Astro.props;
---

<BaseLayout title={title}>
  <Hero />

  <div class="container mx-auto">
    <div class="grid h-48 place-content-center">
      <Countdown {...countdownProps} client:visible />
    </div>
  </div>
</BaseLayout>
